* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    background-color: lightgray;
    height: 12.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}